.ion-ios-myLocation,
.ion-ios-myLocation-outline,
.ion-md-myLocation {
    content: url(../assets/icon/mylocationAsset.svg);
    width: 24pt;
    height: 24pt;
}

.ion-ios-aroundme,
.ion-ios-aroundme-outline,
.ion-md-aroundme {
    content: url(../assets/icon/around-meAsset.svg);
    width: 24pt;
    height: 24pt;
}

.ion-ios-direction,
.ion-ios-direction-outline,
.ion-md-direction {
    content: url(../assets/icon/directionsAsset.svg);
    width: 24pt;
    height: 24pt;
}

.ion-ios-search,
.ion-ios-search-outline,
.ion-md-search {
    content: url(../assets/icon/searchAsset.svg);
    width: 24pt;
    height: 24pt;
}

.tabs-md .tabbar {
    background-color: rgba(255, 206, 44, 0.9275);
    height: 70pt;
}

.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
    font-size: 9pt;
    font-variant: small-caps;
}

.tabs-md .tab-button[aria-selected=true] {
    color: rgba(255, 206, 44, 1);
    background-color: rgba(51, 51, 51, 0.9275);
}

.tabs-md .tab-button {
    height: 100%;
    color: rgba(0, 0, 0, 1);
}

.tab-button[aria-selected=true] {
    .ion-ios-myLocation,
    .ion-ios-myLocation-outline,
    .ion-md-myLocation {
        content: url(../assets/icon/mylocationAsset-y.svg);
        width: 24pt;
        height: 24pt;
    }
    .ion-ios-aroundme,
    .ion-ios-aroundme-outline,
    .ion-md-aroundme {
        content: url(../assets/icon/around-meAsset-y.svg);
        width: 24pt;
        height: 24pt;
    }
    .ion-ios-direction,
    .ion-ios-direction-outline,
    .ion-md-direction {
        content: url(../assets/icon/directionsAsset-y.svg);
        width: 24pt;
        height: 24pt;
    }
    .ion-ios-search,
    .ion-ios-search-outline,
    .ion-md-search {
        content: url(../assets/icon/searchAsset-y.svg);
        width: 24pt;
        height: 24pt;
    }
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: rgba(255, 206, 44, 1);
}