<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon (click)="launchAlert()" class="header-menu-icon" name="menu"></ion-icon>
      <ion-icon name="doradologo"></ion-icon>
      <ion-icon name="{{networkStatus? 'onConnection': 'offConnection'}}"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item *ngFor="let place of placesToShow">
    <div class="flex">
      <ion-avatar>
        <img [src]="place.avatar" [alt]="place.name">
      </ion-avatar>
      <div class="description-item">
        <h2 class="title">{{place.name}}</h2>
        <p>{{place.description}}</p>
        <h3 class="title">{{place.category}}</h3>
      </div>
      <div class="arrow-container">
        <ion-icon name="arrow-right"></ion-icon>
      </div>
    </div>
  </ion-item>
  <ion-item *ngIf="!networkStatus">
    <div class="flex">
      <ion-avatar>
        <ion-icon style="color: #ee0b0b; font-size: 40px;" name="cloud-circle"></ion-icon>
      </ion-avatar>
      <div class="flex description-item">
        <h2>No Internet Connection</h2>
        <p>Please connect to airport Wi-Fi</p>
      </div>
    </div>
  </ion-item>
</ion-content>

<div class="ad-footer">
  <div>
    1
  </div>
  <div>
    2
  </div>
</div>

<ion-footer>
  <ion-toolbar>
    <div class="info-footer" >
      <span>lat: {{lat}}</span>
      <span>long: {{lng}}</span>
    </div>
  </ion-toolbar>
</ion-footer>