page-dynamic-content {

}

.flex {
	display: flex;
}

.description-item {
	flex-direction: column;
	margin-left: 10px;
}

.status {
	height: 8px;
	width: 8px;
	border-radius: 50%;
}

.online {
	background-color: #21e421;
}

.offline {
	background-color: #ee0b0b;
}